
/* ----------------------------------------------------------------
	[ Book and sections ]
*/

.titlepage h2.title {
	color: #3a3a3a;
}

.sect1 {
	margin-top: 30px;
}

	.sect1 h2.title {
		border-bottom: 1px solid #e8e8e8;
		color: #4d4d4d;
		font-size: 1.2em;
		font-weight: bold;
	}
	
.sect2 h3.title {
	color: #3a3a3a;
	font-size: 1.0em;
	font-weight: bold;
}
	
/* ----------------------------------------------------------------
	[ Example ]
*/
	
.example {
	background: #fff;
	border: 1px solid #DEEA7A;
	margin: 10px auto 10px auto;
	width: 95%;
}

	.example p.title {
		background: #DEEA7A;
		margin: 0px;
		padding: 5px;
	}
	
	.example div {
		padding: 10px;
	}
	
		.example div p {
			margin: 2px;
		}
	
/* ----------------------------------------------------------------
	[ Program listing ]
*/
	
pre.programlisting {
	background: #f8f8f8;
	margin: 0px;
	padding: 3px;
	padding-left: 6px;
}
	
/* ----------------------------------------------------------------
	[ Images ]
*/

.mediaobject {
	text-align: center;
}
	
/* ----------------------------------------------------------------
	[ Notes ]
*/

.note,
.tip {
	background: #eef4d2;
	padding: 6px;
	margin: 10px 0 10px 0;
}

	.note h3.title,
	.tip h3.title {
		border: 0;
		margin: 0px;
		margin-bottom: 5px;
	}
	
	.note p,
	.tip p {
		margin: 0px;
	}