@CHARSET "UTF-8";

body {
	background: #FBFBF4;
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 30px;
}

hr {
	display: none;
}

a {
	color: #9BB815;
}

p {
	text-align: justify;
}

.navheader, .navfooter {
	background: #DEEA7A;
	color: #8E9D10;
	padding: 10px 10px 0px 10px;
}

	.navheader th {
		font-size: 1.5em;
	}
	
	.navheader a {
		color: #8E9D10;
	}
	
.example {
	background: #fff;
	border: 1px solid #DEEA7A;
	margin: 10px auto 10px auto;
	width: 95%;
}

	.example p.title {
		background: #DEEA7A;
		margin: 0px;
		padding: 5px;
	}
	
	.example div {
		padding: 10px;
	}
	
		.example div p {
			margin: 2px;
		}
	
pre.programlisting {
	background: #f9fbf6;
	margin: 0px;
	padding: 3px;
	padding-left: 6px;
}

.mediaobject {
	text-align: center;
}

.note {
	background: #eef4d2;
	padding: 6px;
}

	.note h3 {
		margin: 0px;
		margin-bottom: 5px;
	}
	
	.note p {
		margin: 0px;
	}
	
.book a {
	color: #4d7909;
}