/* ----------------------------------------------------------------
	[ Body ]
*/

body {
	background: #fff;
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

hr {
	display: none;
}

a {
	color: #9BB815;
}

p {
	text-align: justify;
}
	
/* ----------------------------------------------------------------
	[ Navigation ]
*/

.navheader, .navfooter {
	background: #deea7a;
	color: #82b62b;
	padding: 10px 10px 0px 10px;
}
	
	.navheader a,
	.navfooter a {
		color: #5b880c;
	}

.navheader {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: 15px 0px;
	padding-bottom: 7px;
	padding-top: 70px;
}

	.navheader th {
		display: none;
	}
	
/* ----------------------------------------------------------------
	[ Book and sections ]
*/

div.book,
div.chapter {
	padding: 30px;
}

