
#sidebar {
	border: 1px solid #7E7E7E;
	float: left;
	margin-right: 40px;
	margin-top: 10px;
	padding: 2px;
	width: 300px;
}

	#sidebar ul.categories {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

		#sidebar .category-title {
			background: #EFEFEF;
			display: block;
			padding: 5px;
		}
		
		#sidebar ul.groups {
			list-style-type: none;
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
		}
		
			#sidebar a.group-title {
				display: block;
				padding: 2px;
			}

#content {
	float: left;
	width: 600px;
}

	h3.event-name {
		margin-top: 35px;
	}

	.event-param-type {
		font-style: italic;
	}
	
	.event-param-name {
		font-weight: bold;
	}
	
	.event-example {
		background: #f8f8f8;
		margin: 0px;
		padding: 7px;
		padding-left: 6px;
	}